<nav role="navigation" class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Tableau de bord</a>
        </div>
    </div>
</nav>
<div class="dashboard-content"></div>
<!-- {{> dashboards/modules_list}}
{{> dashboards/stats}}
{{> dashboards/scores}} -->