<nav role="navigation" class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Tableau de bord</a>
        </div>
    </div>
</nav>
{{> admin/dashboards/modules_list}}
{{> admin/dashboards/stats}}
{{> admin/dashboards/scores}}