<div role="complementary" class="bs-docs-sidebar">
    <div role="navigation" class="navbar navbar-default">
        <div class="navbar-header">
            <span class="navbar-brand">VVF like you</span>
            <span class="navbar-brand pull-right state-alert"><span class="glyphicon glyphicon-asterisk text-muted"></span></span>
        </div>
        <ul class="nav bs-docs-sidenav">
            <li>
                <a href="#">Tableau de bord</a>
            </li>
            <li><a href="#/control/alert">Contrôle à distance</a>
                <ul class="nav">
                    <li><a href="#/control/alert">Gyrophares</a></li>
                    <li><a href="#/control/button">Barre de boutons</a></li>
                    <li><a href="#/control/cam">Appareils photo</a></li>
                </ul>
            </li>
            <li><a href="#/data/photos">Données</a>
                <ul class="nav">
                    <li><a href="#/data/photos">Photos</a></li>
                    <li><a href="#/data/visitors">Visiteurs</a></li>
                    <li><a href="#/data/visits">Visites</a></li>
                    <li><a href="#/data/scores">Résultats</a></li>
                </ul>
            </li>
            <li><a href="#/settings">Paramétrages</a>
                <ul class="nav">
                    <li><a href="#/settings">Paramètres généraux</a></li>
                    <li><a href="#/settings/time">Horaires d'ouverture</a></li>
                </ul>
            </li>
            <li><a href="/logout">Deconnexion</a>
            </li>
        </ul>
    </div>
</div>