<nav role="navigation" class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Contrôle des {{#ifEq type "alert"}}gyrophares{{/ifEq}}{{#ifEq type "button"}}barres de boutons{{/ifEq}}{{#ifEq type "cam"}}appareils photo{{/ifEq}}</a>
        </div>
    </div>
</nav>
{{#if hasModule}}
{{!<div class="row">
    <div class="col-sm-12">
        <div class="well">

        </div>
    </div>
</div>}}
<div class="row modules"></div>
{{else}}
<div class="row">
    <div class="col-sm-12">

        <h2>Aucun module connecté</h2>
    </div>
</div>
{{/if}}
