<p>Le réglement complet des opérations est adressé, à titre gratuit, a toute personne qui en fait la demande à Maître David, huissier de justice, 15 boulevard Pochet-Lagaye BP 373 63010 Clermont-Ferrand Cedex</p>
        <div class="conditions"><a href="https://hello.fb.byperiscope.com/reglement" title="Réglement complet">* Lire le réglement complet et détail des lots</a></div>