{{#unless length}}
<div class="row">
    <div class="col-sm-12">
        Aucune information disponible entre le {{formatDate startDate format='DD/MM/YYYY HH:mm'}} et le {{formatDate endDate format='DD/MM/YYYY HH:mm'}}
    </div>
</div>
{{/unless}}
<div class="row">
    <div class="col-sm-12 statistic-team">
    </div>
</div>
