<div class="form-group">
    <div class="divider-vertical"></div>
</div>
<div class="form-group">
    <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-default active filter-all">
            <input type="radio" name="filter" autocomplete="off" checked> Tous
        </label>
        <label class="btn btn-default filter-queue">
            <input type="radio" name="filter" autocomplete="off"> Prochaine alerte
        </label>
        <label class="btn btn-default filter-next">
            <input type="radio" name="filter" autocomplete="off"> En attente
        </label>
    </div>
</div>