<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>VVF Villages like you</title>
        <!-- Bootstrap -->
        <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- <link href="eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet"> -->
        <!-- <link href="styles/styles.css" rel="stylesheet"> -->
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    </head>
    <body>
        <script src="/scripts/public/script.js"></script>
        <div class="container-fluid">
            <div class="col-sm-2">
                <h1 id="fb-welcome"></h1>
                <div id="fb-root"></div>
                {{!<div class="fb-like" data-href="https://www.facebook.com/VVFVillages.pageofficielle" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
                }}
                {{!<button id="bonjour">L'équipe va vous dire un bonjour personnalisé</button>}}
                {{!<button id="logout">Logout</button>}}
                <div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="true" data-scope="email, publish_actions" onlogin="loginButtonPushed"></div>
            </div>
            <div id="content" class="col-sm-10"></div>
        </div>
    </body>
</html>