<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta charset=utf-8>
        <title>VVF Villages like you</title>
        <script>top.location='https://www.facebook.com/VVFVillages.pageofficielle/app_708032399246642?app_data={{id}}';</script>
    </head>
    <body></body>
</html>