<div class="row" id="alert">
    <div class="col-sm-12">
        <div role="alert" class="alert alert-warning fade in">
            {{name}} parce que <strong>{{message}}</strong>
        </div>
    </div>
</div>