<div class="col-sm-12">
    <div class="media">
        <a class="pull-left" href="{{last_shoot_image}}" target="_blank" style="width:100%;" title="Photo prise {{formatDate last_shoot_time}}">
        <img class="media-object img-responsive" src="{{last_shoot_image}}?dim=392x313" alt="Photo prise {{formatDate last_shoot_time}}">
        </a>
    </div>
</div>