<div class="row">
  <div class="col-sm-12">
    <h2>Scores</h2>
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <div class="alert alert-success" role="alert">
      <div><a href="#" class="alert-link">Équipe A <span class="badge pull-right">294</span></a></div>
      <small>Dernière photo <mark><time>18 août 2014</time></mark></small>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="alert alert-success" role="alert">
      <div><a href="#" class="alert-link">Équipe B <span class="badge pull-right">294</span></a></div>
      <small>Dernière photo <mark><time>18 août 2014</time></mark></small>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="alert alert-success" role="alert">
      <div><a href="#" class="alert-link">Équipe C <span class="badge pull-right">294</span></a></div>
      <small>Dernière photo <mark><time>18 août 2014</time></mark></small>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="alert alert-success" role="alert">
      <div><a href="#" class="alert-link">Équipe D <span class="badge pull-right">294</span></a></div>
      <small>Dernière photo <mark><time>18 août 2014</time></mark></small>
    </div>
  </div>
</div>