<div class="row">
  <div class="col-sm-12">
    <h2>Stats</h2>
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <div class="alert alert-success" role="alert">
      <div><a href="#" class="alert-link">Photos <span class="badge pull-right">294</span></a></div>
      <small>Dernière photo <mark><time>18 août 2014</time></mark></small>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="alert alert-success" role="alert">
      <div><a href="#" class="alert-link">Likes <span class="badge pull-right">250</span></a></div>
      <small>Dernier like <mark><time>18 août 2014</time></mark></small>
    </div>
  </div>
</div>